{% extends 'base.html' %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <a href="{% url 'create_receipt'%}">Add new receipt</a>
    <a href="{% url 'create_category' %}">Create new category</a>
    <a href="{% url 'create_account' %}">Add new account</a>
    <table>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date|date:"m-d-Y" }}</td>
                <td>{{ receipt.category }}</td>
                <td>{{ receipt.account }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}